<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgl.user.dao.UserDao">
    <resultMap id="userResultMap" type="com.zgl.user.domain.User">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="commonColumns">
        <![CDATA[
            user_id,
            user_name,
            gender,
            phone,
            password,
            update_time,
            create_time
        ]]>
    </sql>
    <select id="findByPhone" resultMap="userResultMap" parameterType="java.lang.String">
        select * from t_user where phone = #{phone};
    </select>
</mapper>